*{
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;

}
body{
    background-color: rgb(165, 104, 42);
    color: #3e2723;
}
header{
    background-color:rgb(165, 104, 42);
    padding: 20px;
    text-align: center;
    color: white;
}
header h1{
        font-size: 36px;
}

.p2 h3{
    margin: 15px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 166, 0);
    font-size: 20px;
}

nav ul li a:hover{
    color: white;
}

.part1{
    text-align: center;
    padding: 60px 40px 40px 40px;
    background-color: #ffe0b2;
   
}

.part1 h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.part1 p{
    font-size: 25px;
    margin-bottom: 5px;
}

button{
   padding: 8x 20px;
    background-color: rgba(165, 89, 42, 0.881);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px;
    margin-top: 20px;
   
}

button:hover{
    background-color:rgba(255, 145, 0, 0.642);
}

.part2{
    padding: 40px 20px;
    text-align: center;
    background-color: white;
}

.part2 h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.p1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.p2{
    background-color: #ffe0b2;
    border-radius: 10px;
    padding: 15px;
    width: 250;
    box-shadow: #3e2723;

}

.p2 :hover{
    transform: scale(1.05);
}

.p2 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.p2 h3{
    margin: 15px 0px;
    
}
.p2 button {
    padding: 8x 20px;
    background-color: rgba(165, 89, 42, 0.881);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px;
    
}


.p2 button:hover{
    background-color:rgba(255, 145, 0, 0.642);

}

footer{
    text-align: center;
    background-color: #ffe0b2;
    padding: 20px;
}